$main-font: "Montserrat Alternates", sans-serif;
$main-font-size: 20px;
$main-font-weight: 400;
$secondary-font-size: 15px;
$secondary-font-weight: 700;
$subheading-font-size: 30px;
$subheading-font-weight: 600;
$medium-font-weight: 500;

$main-color: black;
$text-color: rgba(26, 26, 26, 0.7);
$subheading-color: #7e7e7e;
$primary-color: #bd7048;
$button-text-color: white;
$secondary-button-color: #ffdbc9;
$third-button-color: #f14635;
$inactive-checkout-color: rgba(37, 37, 37, 0.5);
$question-background: #fafafa;

@mixin button(
  $button-text-color,
  $secondary-font-size,
  $subheading-font-weight,
  $primary-color
) {
  max-width: 268px;
  height: 74px;
  background-color: $primary-color;
  border: none;
  color: $button-text-color;
  border-radius: 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: $subheading-font-weight;
  font-size: $secondary-font-size;
  cursor: pointer;

  &:hover {
    color: rgba(0, 0, 0, 0.5);
    opacity: 0.8;
  }

  a {
    text-decoration: none;
    color: white;
  }

  a:hover {
    color: #9fa28a;
    opacity: 0.8;
  }
}

@mixin padding-1440 {
  padding: 0 5%;
}

@mixin padding-768 {
  padding: 0 4%;
}

@mixin padding-425 {
  padding: 0 10px;
}
