@charset "UTF-8";
header,
.team-pictures,
video {
  margin: 0;
}

span {
  color: #bd7048;
}

.header_container {
  font-weight: 600;
  font-size: 0.75rem;
  box-shadow: 0 4px 37px 0 rgba(0, 0, 0, 0.05);
  padding: 2rem 5rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.header_container a {
  text-decoration: none;
}
.header_container .header_logo a span:nth-of-type(1) {
  color: black;
}
.header_container .header_logo a span:nth-of-type(2) {
  color: #bd7048;
}
.header_container .header_logo a span:nth-of-type(3) {
  font-weight: 400;
  color: black;
  font-size: 0.5rem;
}
.header_container .burger-checkbox {
  display: none;
}
.header_container .burger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 37px;
  height: 37px;
  cursor: pointer;
}
.header_container .burger-menu span {
  display: block;
  background-color: #000;
  height: 6px;
  width: 100%;
  margin: 4px 0;
  transition: all 0.3s ease;
}
.header_container .burger-menu span:nth-child(1), .header_container .burger-menu span:nth-child(3) {
  /* Верхняя и нижняя линии */
  width: 25px;
  margin-left: 10px; /* Длина короче средней */
}
.header_container .burger-menu span:nth-child(2) {
  /* Средняя линия */
  width: 40px;
  margin-left: 0; /* Полная ширина */
}
.header_container .header_nav-contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}
.header_container .header_nav-contact .header_nav {
  display: flex;
  margin-left: 3rem;
}
.header_container .header_nav-contact .header_nav-list {
  display: flex;
  list-style: none;
  font-weight: 400;
}
.header_container .header_nav-contact .header_nav-list li {
  padding: 0.4rem 1rem;
}
.header_container .header_nav-contact .header_nav-list li a {
  color: rgba(0, 0, 0, 0.5);
}
.header_container .header_nav-contact .header_nav-list li #nav-link_contact {
  display: none;
}
.header_container .header_nav-contact .header_nav-list .header_nav-link {
  padding-bottom: 0.6rem;
  position: relative;
  transition: color 0.3s ease;
}
.header_container .header_nav-contact .header_nav-list .header_nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 25%;
  width: 50%;
  height: 0.1rem;
  background-color: #bd7048;
  transform: translateX(50%);
  transition: opacity 0.3s ease;
  opacity: 0;
}
.header_container .header_nav-contact .header_nav-list .header_nav-link.active {
  color: #bd7048;
  font-weight: 600;
}
.header_container .header_nav-contact .header_nav-list .header_nav-link.active::after {
  opacity: 1;
}
.header_container .header_nav-contact .header_nav-list .header_nav-link:hover {
  color: #bd7048;
}
.header_container .header_nav-contact .header_nav-list .header_nav-link:hover::after {
  opacity: 1;
}
.header_container .header_nav-contact .header_contact {
  display: flex;
  align-items: center;
  margin-left: 4rem;
}
.header_container .header_nav-contact .header_contact .header_contact-icon {
  padding-top: 0.2rem;
  padding-right: 1rem;
}
.header_container .header_nav-contact .header_contact .header_contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.header_container .header_nav-contact .header_contact .header_contact-info a {
  font-weight: 600;
  color: #3b3b3b;
}
.header_container .header_nav-contact .header_contact .header_contact-info a:hover {
  color: #bd7048;
}
.header_container .header_nav-contact .header_contact .header_contact-info p {
  font-weight: 500;
  color: rgba(59, 59, 59, 0.5);
}

.banner {
  text-align: center;
}
.banner .banner_top {
  margin-top: 2rem;
  opacity: 0.7;
  font-size: 1.5rem;
  font-weight: 500;
}
.banner h1 {
  margin-bottom: 5rem;
  font-size: 2.5rem;
  font-weight: 500;
}
.banner .banner_image {
  width: 100%;
  height: 33rem;
  background-image: url(../images/about_us/group_banner.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.concepts {
  max-height: 430px;
  max-width: 1350px;
  min-width: 1200px;
  margin: 30px 0 30px 7rem;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 45% 1fr;
  -moz-column-gap: 5.5rem;
       column-gap: 5.5rem;
  align-items: center;
}
.concepts .concepts_subheading {
  margin: 0;
  align-self: end;
}
.concepts .concepts_text {
  font-size: 1rem;
  grid-column: 1/2;
  grid-row: 2/3;
}
.concepts .concepts_image {
  grid-column: 2/3;
  grid-row: 1/3;
  justify-self: end;
}

h2,
h3 {
  margin: 0;
}

h2 {
  font-weight: 400;
  font-size: 2.1rem;
}

.founder {
  min-height: -moz-fit-content;
  min-height: fit-content;
  max-width: 1350px;
  min-width: 1200px;
  margin: 30px 0 30px 7rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 20% 15% 1fr;
  -moz-column-gap: 5.5rem;
       column-gap: 5.5rem;
  align-items: center;
}
.founder .founder_name {
  align-self: end;
}
.founder .founder_info {
  grid-column: 2/3;
  grid-row: 2/3;
}
.founder .founder_info h3 {
  font-size: 20px;
  font-weight: 400;
  color: #7e7e7e;
}
.founder .founder_image {
  grid-column: 1/2;
  grid-row: 1/4;
}
.founder .founder_text {
  padding-right: 5rem;
  font-size: 1rem;
}
.founder .founder_text p {
  margin: 0;
}

.team_info,
.projects_info {
  margin: 40px 7rem;
  padding-top: 20px;
  display: grid;
  grid-template-rows: 1fr;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}

.team_info {
  grid-template-columns: 1fr 45%;
}
.team_info .team_info-icon {
  background-image: url(../images/about_us/subtitle_line.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 30%;
}
.team_info .team_info-text {
  justify-self: end;
}

@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}
@keyframes tostart {
  0% {
    transform: translateX(-400%);
  }
  25% {
    transform: translateX(-300%);
  }
  50% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}
.team-pictures {
  max-width: 85rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.carousel {
  box-sizing: border-box;
  scrollbar-color: transparent transparent;
  scrollbar-width: 0px;
}

.carousel::-webkit-scrollbar {
  width: 0;
}

.carousel::-webkit-scrollbar-track {
  background: transparent;
}

.carousel::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

.carousel {
  -ms-overflow-style: none;
}

.carousel {
  position: relative;
  padding-top: 55%;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
  perspective: 100px;
}
.carousel ol,
.carousel li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 7rem;
  bottom: 0;
  left: 7rem;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scroll-padding: 0 0;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  max-width: 1400px;
  background-size: cover;
  background-position: center;
}

#carousel__slide1 {
  background-image: url(../images/about_us/carousel.svg);
}

#carousel__slide2 {
  background-image: url(../images/about_us/carousel2.jpg);
}

#carousel__slide3 {
  background-image: url(../images/about_us/carousel3.jpg);
}

#carousel__slide4 {
  background-image: url(../images/style_overview/carousel_img.svg);
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

.carousel__snapper {
  animation-name: tonext, snap;
  animation-timing-function: ease;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.carousel__slide:last-child .carousel__snapper {
  animation-name: tostart, snap;
  animation-duration: 10s;
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}
.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 25%;
  width: 2.7rem;
  height: 2.7rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: 5.5rem;
}

.carousel::after,
.carousel__next {
  right: 5.5rem;
}

.carousel::before,
.carousel::after {
  content: "";
  z-index: 1;
  background-color: white;
  background-size: 0.75rem 0.75rem;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url(../images/style_overview/left.svg);
}

.carousel::after {
  background-image: url(../images/style_overview/right.svg);
}

.projects_info {
  grid-template-columns: 51% 1fr;
}
.projects_info .projects_info-subheading {
  grid-column: 1/2;
}
.projects_info .projects_info-icon {
  grid-column: 2/3;
  grid-row: 1/2;
  background-image: url(../images/about_us/subtitle_line.svg);
  background-repeat: no-repeat;
  background-position-y: 30%;
}

video {
  width: 100%;
}

.footer {
  margin-top: 3rem;
  font-size: 0.75rem;
  font-weight: 600;
  box-shadow: 0 4px 37px 0 rgba(0, 0, 0, 0.05);
}
.footer .footer_container {
  padding: 2rem 5rem;
  display: flex;
  justify-content: space-between;
}
.footer .footer_container a {
  text-decoration: none;
}
.footer .footer_container .footer_logo a span:nth-of-type(1) {
  color: black;
}
.footer .footer_container .footer_logo a span:nth-of-type(2) {
  color: #bd7048;
}
.footer .footer_container .footer_logo a span:nth-of-type(3) {
  font-weight: 400;
  color: black;
  font-size: 0.5rem;
}
.footer .footer_container .footer_nav-list {
  list-style: none;
  font-weight: 400;
}
.footer .footer_container .footer_nav-list li {
  padding-bottom: 0.4rem;
}
.footer .footer_container .footer_nav-list li a {
  color: rgba(33, 33, 33, 0.5);
}
.footer .footer_container .footer_nav-list .footer_nav-link.active {
  color: #bd7048;
  font-weight: 600;
}
.footer .footer_container .footer_nav-list .footer_nav-link.active::after {
  opacity: 1;
}
.footer .footer_container .footer_nav-list .footer_nav-link:hover {
  color: #bd7048;
}
.footer .footer_container .footer-policy {
  font-weight: 500;
}
.footer .footer_container .footer-policy li {
  list-style: none;
}
.footer .footer_container .footer-policy li a {
  color: rgba(33, 33, 33, 0.5);
}
.footer .footer_container .footer-policy li a:hover {
  color: #bd7048;
}
.footer .footer_container .footer_contact {
  display: flex;
}
.footer .footer_container .footer_contact .footer_contact-icon {
  padding-top: 0.2rem;
  padding-right: 1rem;
}
.footer .footer_container .footer_contact .footer_contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer .footer_container .footer_contact .footer_contact-info a {
  font-weight: 600;
  color: #3b3b3b;
}
.footer .footer_container .footer_contact .footer_contact-info a:hover {
  color: #bd7048;
}
.footer .footer_container .footer_contact .footer_contact-info p {
  font-weight: 500;
  color: rgba(59, 59, 59, 0.5);
}
.footer .footer__copyright {
  height: 4.8rem;
  background-color: #262626;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1040px) {
  html {
    font-size: 18px;
  }
  .header .header_container .header_nav-contact .header_nav {
    margin-left: 0;
  }
  .concepts,
  .founder {
    margin-left: 0;
    min-width: 1000px;
    max-width: 1024px;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  .concepts .concepts,
  .founder .concepts {
    padding-right: 0;
  }
  .concepts .concepts .concepts_image,
  .founder .concepts .concepts_image {
    -o-object-fit: cover;
       object-fit: cover;
    overflow-x: hidden;
  }
}
@media screen and (max-width: 768px) {
  body {
    max-width: 768px;
  }
  body .header_container .burger-menu {
    display: flex;
  }
  body .header_container .header_nav-contact {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    background-color: white;
    position: absolute;
    padding: 0 4rem;
    top: 100%;
    right: 0%;
    width: 50%;
    font-size: large;
    border-radius: 0 0 0 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.475);
    z-index: 10;
  }
  body .header_container .header_nav-contact .header_nav .header_nav-list {
    flex-direction: column;
    align-items: flex-end;
  }
  body .header_container .header_nav-contact .header_nav .header_nav-list #nav-link_contact {
    display: inline-block;
  }
  body .header_container .header_nav-contact .header_nav .header_nav-list .header_nav-item {
    margin: 0;
    margin-bottom: 1rem;
    text-align: center;
  }
  body .header_container .header_nav-contact .header_contact {
    display: none;
  }
  body .header_container .burger-checkbox:checked ~ .header_nav-contact {
    display: flex;
    width: 10rem;
  }
  body .header_container .burger-checkbox:checked + .burger-menu span:nth-child(1) {
    transform: rotate(45deg) translate(12px, 6px);
  }
  body .header_container .burger-checkbox:checked + .burger-menu span:nth-child(2) {
    opacity: 0;
  }
  body .header_container .burger-checkbox:checked + .burger-menu span:nth-child(3) {
    transform: rotate(-45deg) translate(11px, -5px);
  }
  .banner h1 {
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  .banner .banner_image {
    height: 23rem;
  }
  .concepts {
    max-height: 300px;
    max-width: 750px;
    min-width: 600px;
    margin: 40px 0;
    padding-right: 0;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  .concepts .concepts_text {
    font-size: 0.8rem;
  }
  .concepts .concepts_image img {
    max-height: 250px;
  }
  h2 {
    font-size: 1.6rem;
  }
  .team_info,
  .projects_info {
    margin: 40px 1rem 40px 3rem;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
  .team_info {
    grid-template-columns: 45% 1fr;
  }
  .carousel__viewport {
    right: 3rem;
    left: 3rem;
  }
  .carousel::before,
  .carousel__prev {
    left: 1.5rem;
  }
  .carousel::after,
  .carousel__next {
    right: 1.5rem;
  }
  .projects_info {
    grid-template-columns: 1fr 45%;
  }
  .founder {
    max-height: 300px;
    max-width: 715px;
    min-width: 600px;
    margin: 40px 0 40px 3rem;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 13% 17% 1fr;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    align-items: center;
  }
  .founder .founder_info h3 {
    font-size: 0.9rem;
    padding-bottom: 10px;
  }
  .founder .founder_image img {
    max-width: 250px;
  }
  .founder .founder_text {
    font-size: 0.8rem;
    padding-right: 1.2rem;
  }
  .footer .footer_nav {
    display: none;
  }
}
@media screen and (max-width: 440px) {
  body .header_container {
    padding: 2rem;
  }
  body .header_container .burger-checkbox:checked ~ .header_nav-contact {
    width: 12rem;
  }
  body .banner .banner_top {
    font-size: 1rem;
    padding-left: 2rem;
    text-align: left;
  }
  body .banner .banner_title {
    font-size: 1.3rem;
    padding: 0 1rem 0 2rem;
    text-align: left;
  }
  body .banner .banner_image {
    height: 10rem;
    background-image: url(../images/about_us/banner_mobile.svg);
  }
  body h2 {
    font-size: 1.3rem;
  }
  body .concepts {
    max-width: 420px;
    min-width: 400px;
    min-height: -moz-fit-content;
    min-height: fit-content;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr) 280px;
    margin: 40px 0;
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 1.5rem;
  }
  body .concepts .concepts_subheading,
  body .concepts .concepts_text {
    padding: 0 2rem;
  }
  body .concepts .concepts_text {
    font-size: 1rem;
  }
  body .concepts .concepts_image {
    grid-column: 1/2;
    grid-row: 3/4;
    justify-self: center;
  }
  body .concepts .concepts_image img {
    height: 280px;
    min-width: 410px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 20% 100%;
       object-position: 20% 100%;
  }
  body .team_info,
  body .projects_info {
    margin: 0;
    grid-template-columns: 1fr;
    padding: 20px 2rem;
    -moz-column-gap: 0;
         column-gap: 0;
  }
  body .team_info-icon,
  body .projects_info-icon {
    display: none;
  }
  body .team_info .team_info-text {
    grid-column: 1/2;
    justify-self: center;
  }
  body .carousel__viewport {
    right: 2rem;
    left: 2rem;
  }
  body .carousel::before,
  body .carousel::after,
  body .carousel__prev,
  body .carousel__next {
    width: 1.5rem;
    height: 1.5rem;
  }
  body .carousel::before,
  body .carousel__prev {
    left: 1rem;
  }
  body .carousel::after,
  body .carousel__next {
    right: 1rem;
  }
  body .carousel::before {
    background-size: 30%;
  }
  body .carousel::after {
    background-size: 30%;
  }
  body .founder {
    max-width: 420px;
    min-width: 400px;
    min-height: -moz-fit-content;
    min-height: fit-content;
    grid-template-columns: 1fr;
    grid-template-rows: 7% 7% 19rem 1fr;
    margin: 40px 0;
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 1.5rem;
  }
  body .founder .founder_image {
    grid-column: 1/2;
    grid-row: 3/4;
    justify-self: center;
  }
  body .founder .founder_image img {
    min-height: 350px;
    width: 400px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  body .founder .founder_name {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  body .founder .founder_info {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  body .founder .founder_info h3 {
    padding-right: 2rem;
    font-size: 1rem;
  }
  body .founder .founder_text {
    font-size: 1rem;
    grid-column: 1/2;
    grid-row: 4/5;
  }
  body .founder .founder_name,
  body .founder .founder_info,
  body .founder .founder_text {
    padding: 0 2rem;
  }
  body .footer .footer-policy {
    display: none;
  }
}/*# sourceMappingURL=about_us.css.map */