@charset "UTF-8";
.header_container {
  font-weight: 600;
  font-size: 0.75rem;
  box-shadow: 0 4px 37px 0 rgba(0, 0, 0, 0.05);
  padding: 2rem 5rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.header_container a {
  text-decoration: none;
}
.header_container .header_logo a span:nth-of-type(1) {
  color: black;
}
.header_container .header_logo a span:nth-of-type(2) {
  color: #bd7048;
}
.header_container .header_logo a span:nth-of-type(3) {
  font-weight: 400;
  color: black;
  font-size: 0.5rem;
}
.header_container .burger-checkbox {
  display: none;
}
.header_container .burger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 37px;
  height: 37px;
  cursor: pointer;
}
.header_container .burger-menu span {
  display: block;
  background-color: #000;
  height: 6px;
  width: 100%;
  margin: 4px 0;
  transition: all 0.3s ease;
}
.header_container .burger-menu span:nth-child(1), .header_container .burger-menu span:nth-child(3) {
  /* Верхняя и нижняя линии */
  width: 25px;
  margin-left: 10px; /* Длина короче средней */
}
.header_container .burger-menu span:nth-child(2) {
  /* Средняя линия */
  width: 40px;
  margin-left: 0; /* Полная ширина */
}
.header_container .header_nav-contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}
.header_container .header_nav-contact .header_nav {
  display: flex;
  margin-left: 3rem;
}
.header_container .header_nav-contact .header_nav-list {
  display: flex;
  list-style: none;
  font-weight: 400;
}
.header_container .header_nav-contact .header_nav-list li {
  padding: 0.4rem 1rem;
}
.header_container .header_nav-contact .header_nav-list li a {
  color: rgba(0, 0, 0, 0.5);
}
.header_container .header_nav-contact .header_nav-list li #nav-link_contact {
  display: none;
}
.header_container .header_nav-contact .header_nav-list .header_nav-link {
  padding-bottom: 0.6rem;
  position: relative;
  transition: color 0.3s ease;
}
.header_container .header_nav-contact .header_nav-list .header_nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 25%;
  width: 50%;
  height: 0.1rem;
  background-color: #bd7048;
  transform: translateX(50%);
  transition: opacity 0.3s ease;
  opacity: 0;
}
.header_container .header_nav-contact .header_nav-list .header_nav-link.active {
  color: #bd7048;
  font-weight: 600;
}
.header_container .header_nav-contact .header_nav-list .header_nav-link.active::after {
  opacity: 1;
}
.header_container .header_nav-contact .header_nav-list .header_nav-link:hover {
  color: #bd7048;
}
.header_container .header_nav-contact .header_nav-list .header_nav-link:hover::after {
  opacity: 1;
}
.header_container .header_nav-contact .header_contact {
  display: flex;
  align-items: center;
  margin-left: 4rem;
}
.header_container .header_nav-contact .header_contact .header_contact-icon {
  padding-top: 0.2rem;
  padding-right: 1rem;
}
.header_container .header_nav-contact .header_contact .header_contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.header_container .header_nav-contact .header_contact .header_contact-info a {
  font-weight: 600;
  color: #3b3b3b;
}
.header_container .header_nav-contact .header_contact .header_contact-info a:hover {
  color: #bd7048;
}
.header_container .header_nav-contact .header_contact .header_contact-info p {
  font-weight: 500;
  color: rgba(59, 59, 59, 0.5);
}

.footer {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  box-shadow: 0 4px 37px 0 rgba(0, 0, 0, 0.05);
}
.footer .footer_container {
  padding: 2rem 5rem;
  display: flex;
  justify-content: space-between;
}
.footer .footer_container a {
  text-decoration: none;
}
.footer .footer_container .footer_logo a span:nth-of-type(1) {
  color: black;
}
.footer .footer_container .footer_logo a span:nth-of-type(2) {
  color: #bd7048;
}
.footer .footer_container .footer_logo a span:nth-of-type(3) {
  font-weight: 400;
  color: black;
  font-size: 0.5rem;
}
.footer .footer_container .footer_nav-list {
  list-style: none;
  font-weight: 400;
}
.footer .footer_container .footer_nav-list li {
  padding-bottom: 0.4rem;
}
.footer .footer_container .footer_nav-list li a {
  color: rgba(33, 33, 33, 0.5);
}
.footer .footer_container .footer_nav-list .footer_nav-link.active {
  color: #bd7048;
  font-weight: 600;
}
.footer .footer_container .footer_nav-list .footer_nav-link.active::after {
  opacity: 1;
}
.footer .footer_container .footer_nav-list .footer_nav-link:hover {
  color: #bd7048;
}
.footer .footer_container .footer-policy {
  font-weight: 500;
}
.footer .footer_container .footer-policy li {
  list-style: none;
}
.footer .footer_container .footer-policy li a {
  color: rgba(33, 33, 33, 0.5);
}
.footer .footer_container .footer-policy li a:hover {
  color: #bd7048;
}
.footer .footer_container .footer_contact {
  display: flex;
}
.footer .footer_container .footer_contact .footer_contact-icon {
  padding-top: 0.2rem;
  padding-right: 1rem;
}
.footer .footer_container .footer_contact .footer_contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer .footer_container .footer_contact .footer_contact-info a {
  font-weight: 600;
  color: #3b3b3b;
}
.footer .footer_container .footer_contact .footer_contact-info a:hover {
  color: #bd7048;
}
.footer .footer_container .footer_contact .footer_contact-info p {
  font-weight: 500;
  color: rgba(59, 59, 59, 0.5);
}
.footer .footer__copyright {
  height: 4.8rem;
  background-color: #262626;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_container {
  padding: 0 0 3rem 0;
  font-family: "Montserrat Alternates", sans-serif;
}

.main_ccontainer-head {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head-design {
  font-size: 40px;
}

.head-text {
  color: rgba(26, 26, 26, 0.7);
  font-size: 20px;
  max-width: 62.75rem;
  text-align: center;
}

.head {
  display: flex;
  font-size: 30px;
  padding: 3rem;
  gap: 2rem;
}
.head img {
  max-width: 60rem;
}

.cardsContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.cardImage {
  height: 16rem;
}

.cardName,
.cardName-third {
  font-weight: 500;
}

.cardName-third {
  text-align: end;
}

.cardButton {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid white;
  border-radius: 25px;
  font-family: "Montserrat Alternates", sans-serif;
  color: #bd7048;
  font-size: 15px;
  background-color: #fafafa;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  cursor: pointer;
}
.cardButton:hover {
  background-color: #f14635;
  opacity: 0.8;
  color: white;
}
.cardButton a {
  text-decoration: none;
  color: #bd7048;
}
.cardButton a:hover {
  color: white;
}

.cardName-secondary {
  color: #bd7048;
}

.button-container {
  padding-top: 1rem;
  display: flex;
  justify-content: space-around;
}

.button {
  text-align: center;
  cursor: pointer;
}

.cardsContainer-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .main_container {
    min-width: 760px;
    max-width: 768px;
  }
  .cardImage {
    max-width: 15rem;
  }
  .cardName,
  .cardButton,
  .cardButton > a {
    font-size: 0.8rem;
  }
  .livingRoom-card0,
  .livingRoom-card4 {
    display: none;
  }
  .head {
    gap: 1rem;
  }
  .head img {
    max-width: 18rem;
  }
  .header_container .burger-menu {
    display: flex;
  }
  .header_container .header_nav-contact {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    background-color: white;
    position: absolute;
    padding: 0 4rem;
    top: 100%;
    right: 0%;
    width: 50%;
    font-size: large;
    border-radius: 0 0 0 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.475);
    z-index: 10;
  }
  .header_container .header_nav-contact .header_nav .header_nav-list {
    flex-direction: column;
    align-items: flex-end;
  }
  .header_container .header_nav-contact .header_nav .header_nav-list #nav-link_contact {
    display: inline-block;
  }
  .header_container .header_nav-contact .header_nav .header_nav-list .header_nav-item {
    margin: 0;
    margin-bottom: 1rem;
    text-align: center;
  }
  .header_container .header_nav-contact .header_contact {
    display: none;
  }
  .header_container .burger-checkbox:checked ~ .header_nav-contact {
    display: flex;
    width: 10rem;
  }
  .header_container .burger-checkbox:checked + .burger-menu span:nth-child(1) {
    transform: rotate(45deg) translate(12px, 6px);
  }
  .header_container .burger-checkbox:checked + .burger-menu span:nth-child(2) {
    opacity: 0;
  }
  .header_container .burger-checkbox:checked + .burger-menu span:nth-child(3) {
    transform: rotate(-45deg) translate(11px, -5px);
  }
  .footer .footer_nav {
    display: none;
  }
}
@media screen and (max-width: 440px) {
  .header_container {
    padding: 2rem;
  }
  .header_container .burger-checkbox:checked ~ .header_nav-contact {
    width: 12rem;
  }
  .main_container,
  .header,
  .footer {
    min-width: 27.5rem;
  }
  .cardsContainer {
    display: none;
  }
  .cardsContainer-mobile {
    display: flex;
    justify-content: space-between;
    padding-left: 2.5rem;
  }
  .cardImage-mobile {
    height: 13.6rem;
  }
  .main_ccontainer-head {
    display: none;
  }
  .head {
    font-size: 25px;
  }
  .head img {
    display: none;
  }
  .footer .footer-policy {
    display: none;
  }
}/*# sourceMappingURL=catalog.css.map */