.header {
  font-weight: $subheading-font-weight;
  font-size: 0.75rem; //15px
  box-shadow: 0 4px 37px 0 rgba(0, 0, 0, 0.05);
  .header_container {
    padding: 2rem 5rem; //40px 100px
    display: flex;
    justify-content: space-between;
    position: relative; // Добавлено для позиционирования меню
    a {
      text-decoration: none;
    }

    .header_logo {
      a {
        span:nth-of-type(1) {
          color: $main-color;
        }
        span:nth-of-type(2) {
          color: $primary-color;
        }
        span:nth-of-type(3) {
          font-weight: $main-font-weight;
          color: $main-color;
          font-size: 0.5rem; //10px
        }
      }
    }
    .burger-checkbox {
      display: none; // Скрываем чекбокс
    }

    .burger-menu {
      display: none; // Скрываем по умолчанию
      flex-direction: column;
      justify-content: space-between;
      width: 37px;
      height: 37px;
      cursor: pointer;
      span {
        display: block;
        background-color: #000;
        height: 6px;
        width: 100%;
        margin: 4px 0;
        transition: all 0.3s ease;
        &:nth-child(1),
        &:nth-child(3) {
          /* Верхняя и нижняя линии */
          width: 25px;
          margin-left: 10px; /* Длина короче средней */
        }

        &:nth-child(2) {
          /* Средняя линия */
          width: 40px;
          margin-left: 0; /* Полная ширина */
        }
      }
    }
    .header_nav-contact {
      display: flex; // Контейнер для совместного отображения навигации и контактов
      justify-content: space-around; // Распределение пространства
      align-items: center; // Центровка по вертикали
      width: 80%;
      .header_nav {
        display: flex;
        margin-left: 3rem;
      }

      .header_nav-list {
        display: flex;
        list-style: none;
        font-weight: $main-font-weight;
        li {
          padding: 0.4rem 1rem; //8px 20px
          a {
            color: rgb(0, 0, 0, 0.5);
          }
        }
        #nav-link_contact {
          display: none;
        }
        .header_nav-link {
          padding-bottom: 0.6rem; //12px
          position: relative;
          transition: color 0.3s ease;
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 25%;
            width: 50%;
            height: 0.1rem; //2px
            background-color: $primary-color;
            transform: translateX(50%);
            transition: opacity 0.3s ease;
            opacity: 0;
          }
          &.active {
            color: $primary-color;
            font-weight: $subheading-font-weight;
          }
          &.active::after {
            opacity: 1;
          }
          &:hover {
            color: $primary-color;
          }
          &:hover::after {
            opacity: 1;
          }
        }
      }

      .header_contact {
        display: flex;
        align-items: center;
        margin-left: 4rem;
        .header_contact-icon {
          padding-top: 0.2rem; //4px
          padding-right: 1rem; //20px
        }
        .header_contact-info {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
        }
        a {
          font-weight: $subheading-font-weight;
          color: #3b3b3b;
        }
        a:hover {
          color: $primary-color;
        }
        p {
          font-weight: 500;
          color: rgba(59, 59, 59, 0.5);
        }
      }
    }
  }
  .header_banner {
    background-image: url(../images/index/01\ 2.svg);
    height: 32.75rem;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .header_cart-widget {
      width: 16rem;
      position: relative;
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
      margin-left: auto;
      padding: 1.5rem 1rem;
      background-color: black;
      color: white;
      border-radius: 60px 0 0 60px;
      cursor: pointer;
      font-weight: $medium-font-weight;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: #333;
      }
      .cart-widget_icon {
        background-color: white;
        width: 3.05rem;
        height: 2.9rem;
        margin-left: 0.8rem;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          display: block;
          pointer-events: none;
        }
      }
      .cart-widget_text {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        h4 {
          font-size: 0.75rem;
        }
        p {
          font-size: 0.5rem;
        }
      }
      .cart-widget_cart-popup {
        display: none;
        position: absolute;
        top: calc(100% + 5px);
        right: 0;
        background: white;
        color: black;
        padding: 0.75rem;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        z-index: 10;
        width: 12.5rem;
        text-align: center;
        p {
          font-size: 0.75rem;
          padding-bottom: 0.5rem;
        }
        .cart-popup_link {
          text-decoration: none;
          background-color: $primary-color;
          color: $button-text-color;
          border-radius: 50px;
          padding: 0.5rem 1.7rem;
          font-size: 0.5rem;
          &:hover {
            background-color: $third-button-color;
          }
        }
      }
      &:hover .cart-widget_cart-popup {
        display: block;
      }
    }
    .banner_title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $button-text-color;
      text-align: center;
      margin-bottom: 9rem;
      padding: 1rem 10.2rem;
      h1 {
        font-size: 2rem;
        padding-bottom: 2rem;
      }
      a {
        text-decoration: none;
        font-size: 0.75rem;
        background-color: $primary-color;
        border-radius: 100px;
        color: $button-text-color;
        padding: 1rem 2rem;
        &:hover {
          background-color: $third-button-color;
        }
      }
    }
    .banner_advantages {
      display: flex;
      justify-content: space-around;
      background-color: white;
      box-shadow: 0 4px 37px 0 rgba(0, 0, 0, 0.05);
      width: 80%;
      border-radius: 50px;
      padding: 2rem;
      position: absolute;
      transform: translateY(27.5rem);
      .advantages_item {
        display: flex;
        font-weight: $medium-font-weight;
        width: 12rem;
        .advantages_text {
          margin-left: 1rem;
          h4 {
            font-size: 1rem;
            color: #262626;
          }
          p {
            font-size: 0.75rem;
            color: rgba(38, 38, 38, 0.7);
          }
          img {
            margin-top: 0.7rem;
          }
        }
      }
    }
  }
}
.main {
  .main_how-it-works {
    padding: 8rem 0;
    padding-left: 5rem;
    display: grid;
    grid-template-columns: 50% 50%;
    .how-it-works_guide {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 80%;
      h3 {
        font-weight: $secondary-font-weight;
        font-size: 2rem;
        color: #262626;
      }
      .how-it-works_item {
        width: 70%;
        display: flex;
        .item_number {
          width: 4rem;
          font-size: 3.5rem;
          font-weight: $secondary-font-weight;
          color: rgba(189, 112, 72, 0.2);
          margin-right: 2.5rem;
        }
        .item_text {
          font-weight: $medium-font-weight;
          h5 {
            font-size: 1rem;
            color: #262626;
            margin-top: 0.75rem;
            margin-bottom: 0.75rem;
          }
          p {
            font-size: 0.75rem;
            color: rgba(38, 38, 38, 0.7);
          }
        }
      }
    }
    .how-it-works_img {
      background-image: url(../images/index/01\ 1.svg);
      background-size: cover;
      height: 31.25rem;
      width: 100%;
      img {
        position: absolute;
        transform: translate(-7rem, 5rem);
      }
    }
  }
  .main_our-services {
    .our-services_title {
      font-weight: $secondary-font-weight;
      font-size: 2rem;
      color: #262626;
      text-align: center;
    }
    .our-services_layout {
      display: grid;
      grid-template-columns: 60% 40%;
      padding-left: 5rem;
      padding-top: 5rem;
      .layout_description {
        width: 72%;
        h4 {
          font-weight: $subheading-font-weight;
          font-size: 1.5rem;
          color: #262626;
          padding-bottom: 2rem;
        }
        h5 {
          font-weight: $medium-font-weight;
          font-size: 1rem;
          color: rgba(38, 38, 38, 0.7);
          padding-bottom: 2rem;
          .layout_subtitle_five-days {
            color: #262626;
          }
        }
        p {
          padding-bottom: 3rem;
          color: rgba(38, 38, 38, 0.7);
        }
        .layout_features {
          display: flex;
          .layout_rectangle {
            border: 1px solid #9f3535;
            height: 5.4rem;
            width: 0;
          }
          .layout_list {
            padding-left: 4.5rem;
            padding-bottom: 4rem;
          }
        }
        .layout_links {
          display: flex;
          align-items: center;
          .layout_button {
            a {
              text-decoration: none;
              font-size: 0.75rem;
              background-color: $primary-color;
              border-radius: 100px;
              color: $button-text-color;
              padding: 1rem 2rem;
              &:hover {
                background-color: $third-button-color;
              }
            }
          }
          .layout_pdf_example {
            display: flex;
            align-items: center;
            .layout_pdf {
              padding-left: 1.5rem;
              padding-top: 0.5rem;
            }
            .layout_example {
              a {
                text-decoration: none;
                font-size: 0.75rem;
                color: $primary-color;
                &:hover {
                  color: $third-button-color;
                }
              }
            }
          }
        }
      }
      .layout_images {
        background-image: url(../images/index/Rectangle\ 12.svg);
        background-repeat: no-repeat;
        .layout_img1 {
          position: absolute;
          transform: translate(-8rem, 3rem);
        }
        .layout_img2 {
          position: absolute;
          transform: translate(-5rem, 8rem);
        }
      }
    }
    .our-services_layout1 {
      display: grid;
      grid-template-columns: 40% 60%;
      //padding-right: 5rem;
      padding-top: 5rem;
      .layout1_images {
        background-image: url(../images/index/Rectangle\ 13.svg);
        background-repeat: no-repeat;
        background-size: cover;
        .layout1_img1 {
          position: absolute;
          transform: translate(5rem, 3rem);
        }
        .layout1_img2 {
          position: absolute;
          transform: translate(5rem, 8.5rem);
        }
      }
      .layout1_description {
        padding-left: 10rem;
        h4 {
          font-weight: $subheading-font-weight;
          font-size: 1.5rem;
          color: #262626;
          padding-bottom: 2rem;
        }
        h5 {
          font-weight: $medium-font-weight;
          font-size: 1rem;
          color: rgba(38, 38, 38, 0.7);
          padding-bottom: 2rem;
          .layout1_subtitle_fourteen-days {
            color: #262626;
          }
        }
        p {
          padding-bottom: 3rem;
          color: rgba(38, 38, 38, 0.7);
        }
        .layout1_features {
          display: flex;
          .layout1_rectangle {
            border: 1px solid #9f3535;
            height: 9rem;
            width: 0;
          }
          .layout1_list {
            padding-left: 4rem;
            padding-bottom: 4rem;
          }
        }
        .layout1_links {
          display: flex;
          align-items: center;
          .layout1_button {
            a {
              text-decoration: none;
              font-size: 0.75rem;
              background-color: $primary-color;
              border-radius: 100px;
              color: $button-text-color;
              padding: 1rem 2rem;
              &:hover {
                background-color: $third-button-color;
              }
            }
          }
          .layout1_pdf_example {
            display: flex;
            align-items: center;
            .layout1_pdf {
              padding-left: 1.5rem;
              padding-top: 0.5rem;
            }
            .layout1_example {
              a {
                text-decoration: none;
                font-size: 0.75rem;
                color: $primary-color;
                &:hover {
                  color: $third-button-color;
                }
              }
            }
          }
        }
      }
    }
  }
  .main_checklist {
    display: flex;
    padding: 5rem 3rem;
    justify-content: space-between;
    .checklist_img {
      padding: 2rem;
    }
    .checklist_answer-questions {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-left: 3rem;
      padding: 2rem;
      h4 {
        margin-top: 2rem;
        font-weight: $subheading-font-weight;
        font-size: 1.5rem;
        color: #262626;
      }
      p {
        font-weight: $medium-font-weight;
        font-size: 1rem;
        color: rgba(38, 38, 38, 0.7);
      }
      a {
        text-decoration: none;
        font-size: 0.75rem;
        background-color: $primary-color;
        border-radius: 100px;
        color: $button-text-color;
        padding: 1rem 2rem;
        &:hover {
          background-color: $third-button-color;
        }
      }
    }
  }
  .main_gallery {
    h3 {
      font-weight: $secondary-font-weight;
      font-size: 2rem;
      text-align: center;
      color: #262626;
      margin-bottom: 3rem;
    }
    .gallery_subtitle {
      width: 70%;
      margin-left: 10rem;
      font-weight: $medium-font-weight;
      font-size: 1rem;
      text-align: center;
      color: rgba(38, 38, 38, 0.7);
      margin-bottom: 3rem;
    }
    .static-gallery_title {
      display: flex;
      justify-content: center;
      align-items: center;
      h5 {
        font-weight: $medium-font-weight;
        font-size: 1.5rem;
        color: #262626;
        padding-right: 1rem;
      }
      .gallery-rectangle {
        border: 1px solid #cbcbcb;
        width: 48rem;
        height: 0;
      }
      #gallary_hallway {
        width: 38rem;
      }
    }
    .gallery_item {
      padding: 2rem 3rem;
      display: grid;
      gap: 1.5rem;
      grid-template-columns: repeat(3, 1fr);
      img {
        width: auto;
        height: auto;
      }
    }
    .gallery_item-name {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 1rem 3rem;
      gap: 1.5rem;
      margin-bottom: 3rem;
      .gallery_name {
        display: flex;
        justify-content: space-around;
        align-items: center;
        h5 {
          font-weight: $subheading-font-weight;
          font-size: 1rem;
          color: #353535;
        }
        .gallery_button {
          display: flex;
          align-items: center;
          background-color: #fafafa;
          border-radius: 100px;
          padding: 0.5rem 1.2rem;
          a {
            text-decoration: none;
            font-weight: $medium-font-weight;
            font-size: 0.75rem;
            color: #bd7048;
            margin-left: 0.5rem;
          }
        }
      }
    }
    .gallery_catalog-button {
      text-align: center;
      a {
        text-decoration: none;
        font-size: 0.75rem;
        background-color: $primary-color;
        border-radius: 100px;
        color: $button-text-color;
        padding: 1rem 2rem;
        &:hover {
          background-color: $third-button-color;
        }
      }
    }
  }

  .main_test {
    width: 100%;
    height: 24.45rem;
    background-image: url(../images/index/image\ 41.svg);
    background-size: cover;
    padding: 5rem 6rem;
    margin-top: 5rem;
    .test_block {
      width: 45%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      h4 {
        font-weight: $subheading-font-weight;
        font-size: 1.5rem;
        color: #fff;
      }
      p {
        font-weight: $medium-font-weight;
        font-size: 1rem;
        color: rgba(255, 255, 255, 0.7);
        margin-bottom: 1rem;
      }
      a {
        text-decoration: none;
        font-size: 0.75rem;
        background-color: $primary-color;
        border-radius: 100px;
        color: $button-text-color;
        padding: 1rem 2rem;
        &:hover {
          background-color: $third-button-color;
        }
      }
    }
  }

  .main_faq-accordion {
    margin: 6rem 7rem;
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: $main-color;
    background: white;
    overflow: hidden;
    h3 {
      text-align: center;
      margin-bottom: 3rem;
      font-weight: $secondary-font-weight;
      font-size: 2rem;
      color: #262626;
    }

    .faq-accordion__item {
      overflow: hidden;
    }
  }

  .accordion__checkbox {
    display: none;
  }

  .accordion__header {
    min-height: 3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 1rem;
    background: $question-background;
    border-radius: 100px;
    transition: background 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .accordion__header-icon {
      font-size: 2rem;
      font-weight: $medium-font-weight;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      border: 3px solid $main-color;
      border-radius: 50%;
      margin-right: 1rem;
      transition: transform 0.3s, background 0.3s, color 0.3s;
      background: $question-background;
    }

    .accordion__header-question {
      font-size: 1rem;
      font-weight: $subheading-font-weight;
      color: #262626;
    }
  }

  .accordion__header:hover {
    color: $primary-color;
    opacity: 0.7;
  }

  .accordion__content {
    padding: 1rem;
    background: white;
    margin-top: -8px;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease, opacity 0.3s ease;

    p {
      margin: 1rem 0;
      color: rgba(38, 38, 38, 0.7);
      font-size: 1rem;
      font-weight: $medium-font-weight;
      background-color: white;
    }
  }

  .accordion__checkbox:checked + .accordion__header .accordion__header-icon {
    transform: rotate(45deg);
    color: $primary-color;
    border-color: $primary-color;
    background: $question-background;
  }

  .accordion__checkbox:checked
    + .accordion__header
    .accordion__header-question {
    color: $primary-color;
  }

  .accordion__checkbox:checked ~ .accordion__content {
    opacity: 1;
    height: auto;
    margin-top: 0.5rem;
  }
}

.footer {
  font-size: 0.75rem; //15px
  font-weight: $subheading-font-weight;
  box-shadow: 0 4px 37px 0 rgba(0, 0, 0, 0.05);
  .footer_container {
    padding: 2rem 5rem; //40px 100px
    display: flex;
    justify-content: space-between;
    a {
      text-decoration: none;
    }

    .footer_logo {
      a {
        span:nth-of-type(1) {
          color: $main-color;
        }
        span:nth-of-type(2) {
          color: $primary-color;
        }
        span:nth-of-type(3) {
          font-weight: $main-font-weight;
          color: $main-color;
          font-size: 0.5rem; //10px
        }
      }
    }

    .footer_nav-list {
      list-style: none;
      font-weight: $main-font-weight;
      li {
        padding-bottom: 0.4rem; //8px
        a {
          color: rgba(33, 33, 33, 0.5);
        }
      }
      .footer_nav-link {
        &.active {
          color: $primary-color;
          font-weight: $subheading-font-weight;
        }
        &.active::after {
          opacity: 1;
        }
        &:hover {
          color: $primary-color;
        }
      }
    }

    .footer-policy {
      font-weight: 500;
      li {
        list-style: none;
        a {
          color: rgba(33, 33, 33, 0.5);
          &:hover {
            color: $primary-color;
          }
        }
      }
    }

    .footer_contact {
      display: flex;
      .footer_contact-icon {
        padding-top: 0.2rem; //4px
        padding-right: 1rem; //20px
      }
      .footer_contact-info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        a {
          font-weight: $subheading-font-weight;
          color: #3b3b3b;
        }
        a:hover {
          color: $primary-color;
        }
        p {
          font-weight: 500;
          color: rgba(59, 59, 59, 0.5);
        }
      }
    }
  }

  .footer__copyright {
    height: 4.8rem; //96px
    background-color: #262626;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 1040px) {
  html {
    font-size: 18px;
  }
  .header {
    .header_container {
      .header_nav-contact {
        .header_nav {
          margin-left: 0;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 16px;
  }
  .header {
    .header_container {
      .burger-menu {
        display: flex;
      }

      .header_nav-contact {
        display: none;
        flex-direction: column;
        align-items: flex-end;
        background-color: white;
        position: absolute;
        padding: 0 4rem;
        top: 100%;
        left: 60%;
        width: 40%;
        font-size: large;
        border-radius: 0 0 0 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.475);
        z-index: 10;
        .header_nav {
          .header_nav-list {
            flex-direction: column;
            align-items: flex-end;
            #nav-link_contact {
              display: inline-block;
            }

            .header_nav-item {
              margin: 0;
              margin-bottom: 2rem;
              text-align: center;
            }
          }
        }
        .header_contact {
          display: none;
        }
      }

      .burger-checkbox:checked ~ .header_nav-contact {
        display: flex;
      }

      .burger-checkbox:checked + .burger-menu span:nth-child(1) {
        transform: rotate(45deg) translate(12px, 6px);
      }

      .burger-checkbox:checked + .burger-menu span:nth-child(2) {
        opacity: 0;
      }

      .burger-checkbox:checked + .burger-menu span:nth-child(3) {
        transform: rotate(-45deg) translate(11px, -5px);
      }
    }
    .header_banner {
      .header_cart-widget {
        width: auto; /* Только иконка */
        padding: 0.5rem;
        .cart-widget_icon {
          width: 3.8rem;
          height: 3.6rem;
          .cart-widget_icon-link {
            pointer-events: auto;
          }
        }
        .cart-widget_text {
          display: none;
        }
        .cart-widget_cart-popup {
          display: none;
        }
      }
    }
  }
  .main {
    .main_how-it-works {
      grid-template-columns: 70% 30%;
      .how-it-works_img {
        height: 23rem;
        img {
          width: 13rem;
          height: 18rem;
          transform: translate(-6rem, 3rem);
        }
      }
    }
    .main_our-services {
      .our-services_layout {
        grid-template-columns: 70% 30%;
        .layout_description {
          .layout_links {
            flex-direction: column;
            align-items: flex-start;
            .layout_pdf_example {
              margin-top: 1rem;
              .layout_pdf {
                padding-left: 0;
              }
            }
          }
        }
        .layout_images {
          .layout_img1 {
            width: 20rem;
            height: 14rem;
            transform: translate(-8rem, 7rem);
          }
          .layout_img2 {
            width: 18rem;
            height: 13rem;
            transform: translate(-5rem, 14rem);
          }
        }
      }
      .our-services_layout1 {
        grid-template-columns: 30% 70%;
        .layout1_images {
          .layout1_img1 {
            width: 20rem;
            height: 14rem;
            transform: translate(0, 6rem);
          }
          .layout1_img2 {
            width: 18rem;
            height: 13rem;
            transform: translate(-1rem, 13rem);
          }
        }
        .layout1_description {
          padding-left: 8rem;
          .layout1_features {
            .layout1_rectangle {
              height: 11rem;
            }
          }
          .layout1_links {
            flex-direction: column;
            align-items: flex-start;
            .layout1_pdf_example {
              margin-top: 1rem;
              .layout1_pdf {
                padding-left: 0;
              }
            }
          }
        }
      }
    }
    .main_checklist {
      display: grid;
      grid-template-columns: 50% 50%;
      padding: 5rem 0;
      .checklist_img {
        padding: 1rem;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .checklist_answer-questions {
        padding: 1rem;
        margin-left: 2rem;
      }
    }
    .main_gallery {
      .gallery_subtitle {
        margin-left: 7rem;
      }
      .static-gallery_title {
        .gallery-rectangle {
          width: 33rem;
        }
        #gallary_hallway {
          width: 23rem;
        }
      }
      .gallery_item {
        grid-template-columns: repeat(2, 1fr);
        img {
          width: 100%;
          &:nth-of-type(3) {
            display: none;
          }
        }
      }
      .gallery_item-name {
        grid-template-columns: repeat(2, 1fr);
        .gallery_name:nth-of-type(3) {
          display: none;
        }
      }
    }
    .main_test {
      .test_block {
        width: 60%;
      }
    }
    .main_faq-accordion {
      .accordion__header {
        min-height: 2rem;
        font-size: 0.9rem;
      }

      .accordion__content {
        padding: 0.5rem;

        p {
          font-size: 0.9rem;
        }
      }
    }
  }
  .footer {
    .footer_nav {
      display: none;
    }
  }
}
@media screen and (max-width: 440px) {
  html {
    font-size: 15px;
  }
  .header {
    .header_container {
      padding: 2rem;
      .header_nav-contact {
        left: 40%;
        width: 60%;
      }
    }
    .header_banner {
      .banner_title {
        padding: 1rem 3rem;
      }
      .banner_advantages {
        flex-direction: column;
        align-items: center;
        height: 30rem;
        padding: 1rem;
      }
    }
  }
  .main {
    .main_how-it-works {
      grid-template-columns: 100%;
      margin-top: 23rem;
      padding-left: 0;
      padding: 8rem 4rem;
      .how-it-works_guide {
        width: 100%;
        .how-it-works_item {
          width: 100%;
          margin-top: 1rem;
          margin-bottom: 1rem;
          .item_number {
            margin-right: 0;
          }
          .item_text {
            margin-left: -3rem;
          }
        }
      }
      .how-it-works_img {
        display: none;
      }
    }
    .main_our-services {
      .our-services_layout {
        display: flex;
        flex-direction: column-reverse;
        padding: 1rem;
        padding-top: 5rem;
        .layout_description {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          width: 90%;
          margin-top: 17rem;
          padding: 0 2rem;

          .layout_features {
            .layout_rectangle {
              display: none;
            }
            .layout_list {
              padding-left: 2rem;
            }
          }
        }
        .layout_images {
          background-image: none;
          .layout_img1 {
            transform: translate(3rem, -3rem);
          }
          .layout_img2 {
            transform: translate(3rem, 1rem);
          }
        }
      }
      .our-services_layout1 {
        display: flex;
        flex-direction: column;
        .layout1_images {
          background-image: none;
          .layout1_img1 {
            transform: translate(3rem, 2rem);
          }
          .layout1_img2 {
            transform: translate(3rem, 6.5rem);
          }
        }
        .layout1_description {
          margin-top: 21rem;
          padding: 0 2rem;
          width: 90%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          .layout1_features {
            .layout1_rectangle {
              display: none;
            }
            .layout1_list {
              padding-left: 2rem;
            }
          }
        }
      }
    }
    .main_checklist {
      grid-template-columns: 100%;
      background-color: #fff0e9;
      margin-top: 4rem;
      .checklist_img {
        display: none;
      }
      .checklist_answer-questions {
        margin-left: 0;
        align-items: center;
        h4 {
          margin-top: 0;
          margin-bottom: 2rem;
        }
        p {
          margin-bottom: 3rem;
        }
      }
    }
    .main_gallery {
      margin-top: 3rem;
      .gallery_subtitle {
        margin-left: 4rem;
      }
      .static-gallery_title {
        .gallery-rectangle {
          width: 14rem;
        }
        #gallary_hallway {
          width: 5rem;
        }
      }
      .gallery_item {
        grid-template-columns: 1fr;
        img {
          width: 100%;
          &:nth-of-type(3) {
            display: none;
          }
          &:nth-of-type(2) {
            display: none;
          }
        }
      }
      .gallery_item-name {
        grid-template-columns: 1fr;
        .gallery_name:nth-of-type(3) {
          display: none;
        }
        .gallery_name:nth-of-type(2) {
          display: none;
        }
      }
    }
    .main_test {
      padding: 2rem;
      .test_block {
        width: 100%;
        align-items: center;
        text-align: center;
      }
    }
    .main_faq-accordion {
      margin-left: 3rem;
      margin-right: 3rem;
    }
  }
  .footer {
    .footer-policy {
      display: none;
    }
  }
}
